*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  /* max-width: 1200px; */
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0px 10%;
  text-align: center;
  align-items: center;
  background: rgb(255, 237, 237);
  position: fixed;
  width: 80%;
  opacity: 0.85;
  /* z-index: 999; */
}
.navbar .logo img{
  width: 60px;
  padding: 10px 0px;
}
.navbar .links ul{
  display: flex;
}
.active, .links ul li a:active{
  color: red;
  border-bottom: 2px solid red;
}
.navbar .links ul li{
  justify-content: space-between;
  margin: 0px 30px;
  list-style: none;
}
.navbar .links ul li a{
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 17px;
  transition: 0.5s;
}
.active, .links ul li a:hover{
  color: red;
  border-bottom: 3px solid red;
}
.navbar .links ul li a.active{
  color: red;
}
.content-2{
  display: flex;
  padding: 0px 10%;
}
.content-2 .content-left img{
  border-radius: 20px; 
}
.content-2 .content-right{
  margin-left: 50px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}
.content-2 .content-right, .content-left{
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
}
.content-right .text h1{
  margin-bottom: 20px;
  font-size: 45px;
}
.content-right .text p{
  padding: 10px 0px;
  color: rgb(63, 61, 61);
  letter-spacing: 1px;
  font-size: 23px;
  margin-bottom: 40px;
}
.content-right .text a{
  margin-top: 40px;
  padding: 10px;
  border: 2px solid rgb(255, 0, 0);
  text-decoration: none;
  color: #fff;
  background: rgb(255, 29, 29);
  border-radius: 15px;
}
.content-right .text a:hover{
  color: red;
  border: 3px solid red;
  background: transparent;
}


.varient{
  height: 770px;
  margin-top: 70px;
  background: rgb(255, 237, 237);
  padding: 0px 10%;
}
.varient .text{
  text-align: center;
  font-size: 40px;
  padding: 50px 0px;
}
.varient .boxes{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.varient .boxes img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}
.varient .boxes h1{
  margin-top: 25px;
  margin-bottom: 25px;
}
.varient .boxes p{
  line-height: 21px;
  margin-bottom: 25px;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 20px;
}
.varient .boxes a{
  margin-top: 25px;
  margin-bottom: 25px;
  text-decoration: none;
  /* color: black; */
  border: 2px solid red;
  padding: 10px;
  color: #fff;
  background: red;
  border-radius: 10px;
}
.varient .boxes a:hover{
  background: rgba(230, 6, 6, 0.767);
  color: #fff;
}


#contact{
  padding: 5rem 0;
  background: rgb(226, 226, 226);
  text-align: center;
}
.contact-container{
  display: flex;
  background: #fff;
}
/* .contact-image{
  width: 50%;
}
.contact-image img{
  display: flex;
  height: 400px;
  object-fit: cover;
  object-position: center;
  width: 100%;
} */
.form-container{
  padding: 1rem;
  width: 50%;
  margin: auto;
}
.form-container input{
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
}
.form-container textarea{
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
}
.form-container h2{
  font-size: 40px;
  font-weight: 600;
  color: rgb(22, 22, 22);
  margin-bottom: 2rem;
  text-align: center;
}
.contact-menu a{
  text-decoration: none;
  text-align: center;
  align-items: center;
  border: 2px solid red;
  color: #fff;
  /* position: absolute; */
  margin-top: 20rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background: red;
  border-radius: 10px;
}
.contact-menu a:hover{
  color: red;
  background: #fff;
  border: 3px solid red;
}



.footer{         
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: rgb(241, 234, 234);
}
.footer h2{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o{
  color: #f44336;
}

